# documentation
**/*.pdf

# GIS and other data files
**/*.csv
**/*.xlsx
**/*.atx
**/*.dbf.xml
**/*.fgb
**/*.qmd
**/*.gpkg
**/*.mdb
**/*.cpg
**/*.dbf
**/*.lyr
**/*.prj
**/*.sbn
**/*.sbx
**/*.shp
**/*.shp.xml
**/*.shx
**/*.tif

# offline directories
doc/
iLand/
presentation/

# QGIS and RStudio user data
Elliott.qgz
Elliott.Rproj
**/*.png
**/*.rdata
.Rhistory
.Rproj.user/
